* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 45%;
    background: url("https://static.vecteezy.com/system/resources/previews/004/941/847/original/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    
}

.name{
    color:#fff;
    margin-top: 20px;
}

.regi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    color: #fff;
}

.regi h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.cname{
    font-size: 20px;
    margin: 15px 0;
}

.regi input{
    font-size: 20px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    width:100%;
    display: flex;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.regi button{
    font-size: 18px; 
    font-weight: bold;
    padding: 15px 17px;
    margin-top: 15px;
    width: 175px;
    border: 0; 
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    left: 30%;
}

.regi button:hover {
    background-color: rgb(175, 172, 172);
    color: #fff
}



